/* Application style */

body {

	background-image: url('assets/bg.png');
	font-family: 'Open Sans', sans-serif;
}

.card {
	background-color: rgba(255, 255, 255, 0.6);
	color: #333;

	padding: 2.5em 1.25em;
	margin: 6em 0 2em 0;

	border-radius: 5px;
}

.card > h2 {

	margin: 0;

	color: #024b8a;
	margin-bottom: 0.75em;
}

h2 > a {
	text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.card.results {

	margin: 0;
	margin-bottom: 2em;
}

.card.info {

	margin: 0;
}

.card.results > h2 {

	margin-bottom: 0.25em;
}

.decision {

	padding: 0.75em 0;
	display: inline-block;

	font-size: 2em;
	font-weight: 700;
}

.card.dark {

	background-color: rgba(0, 0, 0, 0.2);
	color: #888;

	text-align: center;
	padding: 1em;
	margin: 1.5em 0;
}

.card.dark a {

	text-decoration: none;
	color: #888;

	transition: color 0.5s ease;
}

.card.dark a:hover {

	color: #fff;
}

.input-container {
	margin-bottom: 1.75em;
}

.input-container label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.input-container input {
	margin-bottom: 0.75em;
}

.btn.main {

	width: 20%;
	margin-right: 0.5em;
}

.btn.blue {

	background-color: #024b8a;
	color: #fff;
	border-color: #1a3f7e;
}

.btn.green {

	background-color: #298529;
	color: #fff;
	border-color: #006200;
}

.btn.red {

	background-color: #a6201c;
	color: #fff;
	border-color: #880000;
}

.btn.red.inline {

	border: none;
}

.gh-icon {
	float: right;
	color: #333;
}