/* Application style */

body {

	background-image: url('assets/bg.png');
	font-family: 'Open Sans', sans-serif;
}

.card {
	background-color: rgba(255, 255, 255, 0.6);
	color: #333;

	padding: 2.5em 1.25em;
	margin: 6em 0;

	border-radius: 5px;
}

.card > h2 {

	margin: 0;

	color: #024b8a;
	margin-bottom: 0.75em;
}

.input-container {

	margin-bottom: 0.95em;
}

.input-container label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.input-container input {
	margin-bottom: 0.75em;
}

.btn.blue {

	background-color: #024b8a;
	color: #fff;
	border-color: #002564;
}

.btn.green {

	background-color: #298529;
	color: #fff;
	border-color: #004800;
}

.btn.red {

	background-color: #a6201c;
	color: #fff;
	border-color: #6e0000;
}

.gh-icon {
	float: right;
	color: #333;
}